<a href="https://colab.research.google.com/github/rkpcode/Mini-Project-Student-Performance-Analysis-Using-Pandas-/blob/main/projects_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


import numpy as np
import pandas as pd

df = kdf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Files for practice /hotel_bookings.csv')

In [ ]:

import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Files for practice /student_scores_large.csv')
df.isnull().sum()
mvc = ['Math','English','Science','Attendance']

#removing '%' from value
df ['Attendance'] =df ['Attendance'].str.strip('%')

# convert the missing value column to numeric column change the data type to float
for i in mvc :
    df[i] = pd.to_numeric(df[i], errors = 'coerce' )

#filling missing value with mean

for col in mvc :
    df[col] = df[col].fillna(df[col].mean())

#create a column 'Total' and avg score

df['Total'] = df [['Math','English','Science']].sum(axis = 1, skipna = True)
df ['Avrage_Score'] = df [['Math','English','Science']].mean(axis = 1, skipna = True)
#print (df.tail(5))
#Group by Gender:Find average scores per subject.

Avg = df.groupby('Gender')[['Math','English','Science']].mean()
print (Avg)

#Sort students by average score (descending).

sorted_value = df.sort_values('Avrage_Score', ascending=False)
print (sorted_value)

#top performer

print (sorted_value[['StudentID','Name','Avrage_Score']].head(1))

# Export the cleaned DataFrame to a new CSV file
df.to_csv("student_scores_cleaned.csv", index=False)

             Math    English    Science
Gender
F       75.191667  76.574897  71.726625
M       75.468182  74.081818  75.139623
    StudentID    Name Gender      Math    English    Science  Attendance  \
48        149    Ravi      F  90.00000  75.203704  98.000000   79.711538
30        131    Neha      M  75.34375  93.000000  89.000000   79.711538
87        188  Anjali      M  78.00000  75.203704  95.000000   90.000000
38        139    Neha      M  88.00000  94.000000  64.000000   88.000000
95        196    Amit      M  75.34375  97.000000  73.603774   79.711538
..        ...     ...    ...       ...        ...        ...         ...
51        152    Ravi      F  51.00000  77.000000  72.000000   79.711538
49        150   Suman      M  88.00000  51.000000  52.000000   96.000000
54        155   Meena      F  55.00000  75.203704  53.000000   70.000000
33        134   Rohit      M  50.00000  54.000000  75.000000   73.000000
15        116   Rohit      F  53.00000  51.000000  55.000000   63.000000

   Grade       Total  Avrage_Score
48     C  263.203704     87.734568
30     C  257.343750     85.781250
87     B  248.203704     82.734568
38     C  246.000000     82.000000
95     B  245.947524     81.982508
..   ...         ...           ...
51     C  200.000000     66.666667
49     B  191.000000     63.666667
54     B  183.203704     61.067901
33     A  179.000000     59.666667
15     C  159.000000     53.000000

[100 rows x 10 columns]
    StudentID  Name  Avrage_Score
48        149  Ravi     87.734568